<!DOCTYPE html>
<html lang="en">
    <head>
        <title>🐆-Tribook</title>
        <%- include('./partials/head.ejs') %>
    </head>

<body>
    
<div id="header">
    <%- include('./partials/nav.ejs') %>
</div>

<!-- --------------------------gallery -->
<section class="gallery-section">
    <div class="gallery-form">
        <form class="search-form" action="/search" method="get">
            <label for="maxPrice">¿Cuanto estás dispuesto a pagar por tu nuevo hogar?</label>
            <input type="number" name="maxPrice" id="maxPrice" placeholder="precio max por noche" min="0" max="1000000" value="1000000">
            <input class="btn" type="submit" value="Buscar">
            <label for="maxPersons">¿Cuantas personas?</label>
            <input type="number" name="maxPersons" id="maxPersons" placeholder="no. max de personas" min="1" max="99" value="1">
            <input type="submit" value="Buscar" class="btn">
            <label for="country">¿En qué país quieres vivir?</label>
            <input type="text" name="country" id="country" value="">
            <input type="submit" value="Buscar" class="btn">
            <label for="availableDates">¿Qué fechas buscas?</label>
            <input type="date" name="availableDates" id="availableDates" value="">
            <input type="submit" value="Buscar" class="btn">
        </form>
    </div>
    <div class="gallery">
        <% for (const ap of apartments) { %>
            <a href="/apartment/<%= ap._id %>">
                <article class="photo-article">
                    <header class="photo-title">
                        <p><%= ap.title %></p>
                        <p><%= ap.coordinates.country %></p>
                    </header>
                    <div class="photo-frame">
                        <img class="photo" src="<%= ap.photo %>" alt="">
                    </div>
                    <footer class="photo-footer">
                        <p class="photo-description"><%= ap.description %></p>
                        <h3 class="rules-title">Servicios incluidos</h3>
                            <div class="rules">
                                <div>
                                    <% if(ap.amenities.wifi) { %>
                                        <i class="fa-solid fa-wifi amenities-true"></i>
                                    <% } else { %>                            
                                        <i class="fa-solid fa-wifi amenities-false"></i>
                                    <% } %>
                                </div>
                                <div>
                                    <% if(ap.amenities.airConditioner) { %>
                                        <i class="fa-solid fa-temperature-arrow-down amenities-true"></i>
                                    <% } else { %>
                                        <i class="fa-solid fa-temperature-arrow-down amenities-false"></i>
                                    <% } %>
                                </div>
                                <div>
                                    <% if(ap.amenities.kitchen) { %>
                                        <i class="fa-solid fa-kitchen-set amenities-true"></i>
                                    <% } else { %>
                                        <i class="fa-solid fa-kitchen-set amenities-false"></i>
                                    <% } %>
                                </div>
                                <div>
                                    <% if(ap.amenities.disability) { %>
                                        <i class="fa-brands fa-accessible-icon amenities-true"></i>
                                    <% } else { %>
                                        <i class="fa-brands fa-accessible-icon amenities-false"></i>
                                    <% } %>
                                </div>
                                <div>
                                    <% if(ap.amenities.heater) { %>
                                        <i class="fa-solid fa-temperature-arrow-up amenities-true"></i>
                                    <% } else { %>
                                        <i class="fa-solid fa-temperature-arrow-up amenities-false"></i>
                                    <% } %>
                                </div>
                                <div>
                                    <% if(ap.amenities.tv) { %>
                                        <i class="fa-solid fa-tv amenities-true"></i>
                                    <% } else { %>
                                        <i class="fa-solid fa-tv amenities-false"></i>
                                    <% } %>
                                </div>
                            </div>
                        <h3 class="rules-title">Reglas</h3>
                            <div class="rules">
                                <div class="pets-rules">
                                    <% if(ap.rules.pets) { %>
                                        <i class="fa-solid fa-dog rules-allowed"></i>
                                    <% } else { %>
                                        <i class="fa-solid fa-dog rules-prohibited"></i>
                                    <% } %>
                                </div>
                                <div class="parties-rules">
                                    <% if(ap.rules.parties) { %>
                                        <i class="fa-solid fa-champagne-glasses rules-allowed" ></i>
                                    <% } else { %>
                                        <i class="fa-solid fa-champagne-glasses rules-prohibited"></i>
                                    <% } %>
                                </div>
                                <div class="smoking-rules">
                                    <% if(ap.rules.smoking) { %>
                                        <i class="fa-solid fa-smoking rules-allowed"></i>
                                    <% } else { %>
                                        <i class="fa-solid fa-smoking rules-prohibited"></i>
                                    <% } %>
                                </div>
                                <div class="music-rules">
                                    <% if(ap.rules.music) { %>
                                        <i class="fa-solid fa-music rules-allowed"></i>
                                    <% } else { %>
                                        <i class="fa-solid fa-music rules-prohibited"></i>
                                    <% } %>
                                </div>
                            </div>
                        <p class="photo-price">$<%= ap.price %>*noche</p>
                        <div class="size-coordinates">
                            <p class="photo-size"><%= ap.squareMeters %>m2</p>
                            <div class="coordinates">
                                <p id="latitude">Latitud: <%= ap.coordinates.latitude %></p>
                                <p id="longitude">Longitud: <%= ap.coordinates.longitude %></p>
                            </div>
                        </div>
                        <span class="tag"><%= ap.type[0] %></span>
                        <% if(ap.type[1]) { %>
                            <span class="tag"><%= ap.type[1] %></span>
                        <% } %>
                    </footer>
                </article>

            </a>
        <% } %>
    </div>
</section>



<!------------------ maps ----------------->
<div id="map">
    <iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=2.180120944976807%2C41.42314791802191%2C2.201299667358399%2C41.442838972931746&amp;layer=mapnik&amp;marker=41.43299419211502%2C2.1907103061676025" style="border: 1px solid black"></iframe><br/><small>
        <span class="btn">
            <a id="map-text" href="https://www.openstreetmap.org/?mlat=41.4330&amp;mlon=2.1907#map=16/41.4330/2.1907">Ver el mapa en otra ventana</a></small>
        </span>
</div>





<script>

</script>

</body>
</html>
