<!DOCTYPE html>
<html lang="en">

<head>
    <title>游낹-Balam Castro</title>
    <%- include('./partials/head') %>

</head>

<body>
    <header>
        <%- include('./partials/nav.ejs') %>
    </header>
    <!-- <button id="upload_widget" class="cloudinary-button">Subir fotos</button> -->
    <div class="container">
        <form action="/admin/apartment/new-apartment/new-photo" method="POST">
            <label for="file">Select file to upload</label>
            <input type="file" id="photo" name="photo">
            <input type="submit" value="Subir foto" name="submit">
        </form>
        <form action="/admin/apartment/new-apartment" method="POST">
            <label for="title">Nombre del anuncio</label>
            <input type="text" id="id" name="id" value="<%= apartment.id %>" hidden>
            <input type="text" name="title" id="title" required maxlength="20" value="<%= apartment.title %>">
            <!-- ------------------------Tipo de vivienda -->
            <label for="category">Categor칤a:</label>
            <div class="checkboxes">
                    <input type="checkbox" id="casa" name="type" value="casa">
                    <label for="casa">Casa</label>
                    <input type="checkbox" id="apartamento" name="type" value="apartamento">
                    <label for="apartamento">Apartamento</label>
                    <input type="checkbox" id="cueva" name="type" value="cueva">
                    <label for="cueva">Cueva</label>
                    <input type="checkbox" id="nido" name="type" value="nido">
                    <label for="nido">Nido</label>
                    <input type="checkbox" id="habitacion" name="type" value="habitacion">
                    <label for="habitacion">Habitaci칩n</label>
                    <input type="checkbox" id="chalet" name="type" value="chalet">
                    <label for="chalet">Chalet</label>
                    <input type="checkbox" id="palacio" name="type" value="palacio">
                    <label for="palacio">Palacio</label>
                    <input type="checkbox" id="other" name="type" value="otro">
                    <label for="otro">Otros</label>
            </div>
            <!-- ------------------------------Description -->
            <label for="description">Descripci칩n del apartamento</label>
            <textarea name="description" rows="5" id="description" placeholder="Describe el hogar que ofreces..."></textarea>
            <!-- ---------------------------------Price -->
            <label for="price">Precio</label>
            <input type="number" name="price" id="price" required>
            <!-- ------------------------------------Area -->
            <label for="squareMeters">Superficie (m2)</label>
            <input type="number" name="squareMeters" id="squareMeters" min="10" required>
            <!-- -----------------------------------------Rules -->
            <label for="rules">Se permite:</label>
            <div class="checkboxes">
                <input type="checkbox" id="pets" name="rules.pets" value="true">
                <label for="pets">Mascotas</label>
                <input type="checkbox" id="parties" name="rules.parties" value="true">
                <label for="parties">Fiestas</label>
                <input type="checkbox" id="smoking" name="rules.smoking" value="true">
                <label for="smoking">Fumar</label>
                <input type="checkbox" id="music" name="rules.music" value="true">
                <label for="music">M칰sica fuerte</label>    
            </div>
            <!-- ---------------------------------Rooms -->
            <label for="rooms">Habitaciones</label>
            <input type="number" name="rooms" id="rooms" min="1" required>
            <!-- --------------------------------------Bathrooms -->
             <label for="bathrooms">Ba침os</label>
             <input type="number" name="bathrooms" id="bathrooms">
            <!-- ------------------------------------------Persons -->
             <label for="persons">No. max de personas</label>
             <input type="number" name="persons" id="persons" min="1" required>
            <!-- -----------------------Photo -->
            <div class="photo-upload">
                <label for="photo">Carga una foto desde tu dispositivo</label>
                <button id="upload_widget" class="cloudinary-button">Cargar foto</button>
                <label for="photo">Agrega una URL con la foto de tu apartamento</label>
                <input type="url" name="photo" id="photo">
            </div>
            <!-- ---------------------------Amenities -->
            <label for="amenities">쯈u칠 hay en la vivienda?</label>
            <div class="checkboxes">
                <input type="checkbox" name="amenities.wifi" id="wifi" value="true">
                <label for="wifi">Wi-Fi</label>
                <input type="checkbox" name="amenities.airConditioner" id="true" value="airConditioner">
                <label for="airConditioner">Aire Acondicionado</label>
                <input type="checkbox" name="amenities.kitchen" id="kitchen" value="true">
                <label for="kitchen">Cocina</label>
                <input type="checkbox" name="amenities.disability" id="disability" value="true">
                <label for="disability">Acceso para silla de ruedas</label>
                <input type="checkbox" name="amenities.heater" id="heater" value="true">
                <label for="heater">Calefacci칩n</label>
                <input type="checkbox" name="amenities.tv" id="tv" value="true">
                <label for="tv">Televisi칩n</label>
            </div>
            <!-------------------- Coordenadas-->
            <div class="coordinates-fields">
                <label for="country">Pa칤s: (Pendiente el men칰 de pa칤ses)</label>
                <input type="text" id="country" name="country" placeholder="Obligatorio" required>
                <label for="province">Provincia:</label>
                <input type="text" id="province" name="province" placeholder="Opcional">
                <label for="city">Ciudad:</label>
                <input type="text" id="city" name="city" placeholder="Opcional">
                <label for="coordinates">Coordenadas</label>
                <label for="longitude">Longitud</label>
                <input type="number" id="longitude" name="longitude" step="any" placeholder="105.45">
                <label for="latitude">Latitud</label>
                <input type="number" id="latitude" name="latitude" step="any" placeholder="41.13">
            </div>
            <input class="btn" type="submit" value="Agregar anuncio">
        </form>
    </div>

    <script src="https://upload-widget.cloudinary.com/latest/global/all.js" type="text/javascript"></script>
    <script type="text/javascript">
        const cloudName = '<%= cloudName %>'
        const uploadPreset = '<%= uploadPreset %>'

var myWidget = cloudinary.createUploadWidget({
        cloudName: cloudName,
        uploadPreset: uploadPreset
    }, (error, result) => {
        if (!error && result && result.event === "success"){
            console.log('Done! Here is the image info: ', result.info);
        }
    });
    
document.getElementById("upload_widget").addEventListener("click", function () {
    myWidget.open();
}, false);
    </script>

</body>

</html>